// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: if($variant == "dark", #fcfcfc, #202326);
$fg_color: if($variant == "dark", #202326, #fcfcfc);
$base_color: if($variant == "dark", #fcfcfc, #141618);
$text_color: if($variant == "dark", #141618, #fcfcfc);
$button_bg_color: if($variant == "dark", #ffffff, #141618);
$button_fg_color: if($variant == "dark", #141618, #ffffff);
$header_button_bg_color: #141618;
$header_button_fg_color: #fcfcfc;
$selected_bg_color: #ff0000;
$selected_fg_color: #fcfcfc;
$tooltip_bg_color: #202326;
$tooltip_fg_color: #fcfcfc;

// dark colors
$dark_bg_color: #202326;
$dark_fg_color: #fcfcfc;

// shadows
/*$dark_shadow: #000;*/
/*$light_shadow: #fff;*/
$dark_shadow: shade($fg_color, .2);
$light_shadow: lighten($bg_color, .4);

// caret
$primary_caret_color: #ffcc00;
$secondary_caret_color: #e6e6e6;
$caret_aspect_ratio: 0.04;

// white and black
//$black: #000;
//$white: #fff;
$black: shade($fg_color, .4);
$white: lighten($bg_color, .55);

//$link_color: mix($selected_bg_color, $fg_color, .3);
$link_color: #0000ee;
$success_color: #00ff00;
$warning_color: #ffff00;
$error_color: #ff0000;

$info_fg_color: #141618;
$info_bg_color: #5c5cff;
$warning_fg_color: #141618;
$warning_bg_color: $warning_color;
$question_fg_color: #141618;
$question_bg_color: $info_bg_color;
$error_fg_color: #141618;
$error_bg_color: $error_color;

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_focused: $dark_bg_color;
$titlebar_bg_unfocused: $bg_color;
$titlebar_fg_focused: $dark_fg_color;
$titlebar_fg_unfocused: mix($fg_color, $bg_color, .4);

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg_focused: $titlebar_bg_focused;
$wm_bg_unfocused: $titlebar_bg_unfocused;
$wm_border_focused: #ff0000;
$wm_border_unfocused: #a52a2a;
$wm_title_focused: $titlebar_fg_focused;
$wm_title_unfocused: $titlebar_fg_unfocused;
$wm_icons_focused: $titlebar_fg_focused;
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: $titlebar_fg_unfocused;
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

// widget styles
$roundness: 0px;
$spacing: 3px;
$gradient: 0.0;

$contrast: .8;
