$include /etc/inputrc

# I'm used to M-p/n to go up and down in history from eshell
"\ep": history-search-backward
"\en": history-search-forward

# Clear with C-x M-l like I have it set up in eshell
"\C-x\el": clear-display

# Make C-l clear display
"\C-l": clear-display

# Sane defaults
set colored-stats On
set completion-ignore-case On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On
set menu-complete-display-prefix On
set skip-completed-text On
set completion-map-case On

# Infinite history
set history-size -1